#container {
  background-color: aqua;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container div {
    height: 100px;
    width: 34%;
    background-color: blue;
}